.DS_Store
.ipynb_checkpoints/
_datasets/
./_datasets/
*.zip
*.h5

_datasets/
model_weights/
models_weights/
Divya-git-Actor/
*.toml
secrets.toml

_AGE_DETECTION/
_METHOD1_VECTOR/
_POC_1_June20s_nolonger_update/
image_scrapper/
NLP_PART/
TEST_FACE_RECOGNITION/
test_image_movies/*
test_images_movies/1__fc2.png
test_images_movies/2__se7en.jpeg
test_images_movies/3__inglor2.png
test_images_movies/4__Inglo3.png
test_images_movies/fight_club.jpeg
test_images_movies/fightclub_1.jpeg
test_images_movies/fightclub_1.png
test_images_movies/inglo3.jpeg
test_images_movies/inglor.jpeg
test_images_movies/inglor2.jpeg
test_images_movies/se7en_1.png
test_images_movies/se7evn.jpeg
test_images_movies/test_cruise.jpg
test_images_movies/test14.jpg
test_images_movies/test15.jpg
test_images_movies/test16.jpg
test_images_movies/test17.jpg
test_images_movies/test18.jpg
test_images_movies/test19.jpg
test_images_movies/test20.jpg
test_images_movies/test21.jpg
test_images_movies/test22.jpg
